/*
    Saul Tuñon Fernandez
    UO277490
*/

article {
    /* Color heredado de body: #000000 */
    background-color: #ffff;
    width: 20%;
    height: auto;
    padding: 0.5rem;
    margin: 0.5rem;
}

img { 
    width: 10%;
    height: auto;
}