/*
    Saul Tuñon Fernandez
    UO277490
*/
/* Especificidad: 001 */
article {
    /* Color heredado de body: #000000 */
    background-color: #ffff;
    margin: 1rem;
    border: #000000 solid 0.1rem;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

