/*
    Saúl Tuñón Fernández
    UO277490
*/
/* Especificidad: 001 */ 
body{
    min-height: 100vh;
}
/* Especificidad: 001 */ 
header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0rem 2rem 0rem 1rem;
}
/* Especificidad: 001 */ 
nav {
    display: flex;
    flex-wrap:  wrap;
    gap: 2rem;
}

/* Especificidad: 001 */ 
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

@media (max-width: 465px) {
    /* Especificidad: 002 */
    header + p  {
        display: none;
    }

    /* Especificidad: 001 */
    header {
        display: flex;
        flex-flow: column wrap;
        padding-bottom: 1rem;
    }


    /* Especificidad: 001 */
    nav {
        flex-flow: column wrap;
    }
}