/*
    CSS para el juego de memoria de F1Desktop
    Saul Tuñon Fernandez
    UO277490
*/
/* Especificidad: 001 */ 
section {
    /* Hereda color de body #000000 */ 
    background-color: #05445E; /*  Para ver espacios  */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 70%;
    gap: 1ex;
    padding-bottom: 1em;
}
/* Especificidad: 011 */ 
section > :first-child {
    width: 100%;
    text-align: center;
    /* Hereda el background color de section #05445E */
    color: #ffffff;
}
/* Especificidad: 001 */ 
article {
    /* Hereda color del body #000000 */
    background-color: #D4F1F4 /* Para ver espacios */;
    flex: 0 20%;
    position: relative;
    height: 30vh;
    box-shadow: 0 .25em .15em #000000;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
/* Especificidad: 002 */ 
article h3 {
    /* Hereda background color de article #D4F1F4 */
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Especificidad: 002 001 */ 
article img, h3 {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    backface-visibility: hidden;
}
/* Especificidad: 011 */ 
article[data-state='flip'] {
    transform: rotateY(180deg);
}
/* Especificidad: 011 */ 
article[data-state='revealed'] {
    transform: rotateY(180deg);
}
/* Especificidad: 002 */ 
article img {
    transform: rotateY(180deg);
}
